<div class="employment-page">
  <mat-card class="employment-form" [@openClose]="isEmploymentFormOpened ? 'open' : 'closed'">
    <mat-card-header>
      <mat-card-title>New employee</mat-card-title>
      <mat-card-subtitle>Interface for hiring a new employee</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="employeeForm" id="eForm">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" [(ngModel)]="employeeToCreate.firstName" formControlName="firstNameControl">
                <mat-error *ngIf="employeeForm.controls.firstNameControl.hasError('required')">Please enter a name</mat-error>
                <mat-error *ngIf="employeeForm.controls.firstNameControl.hasError('minlength')">Name must be at least 2 characters long</mat-error>
                <mat-error *ngIf="employeeForm.controls.firstNameControl.hasError('maxlength')">Name must not exceed 32 characters</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [(ngModel)]="employeeToCreate.lastName" formControlName="lastNameControl">
                <mat-error *ngIf="employeeForm.controls.lastNameControl.hasError('required')">Please enter a surname</mat-error>
                <mat-error *ngIf="employeeForm.controls.lastNameControl.hasError('minlength')">Surname must be at least 2 characters long</mat-error>
                <mat-error *ngIf="employeeForm.controls.lastNameControl.hasError('maxlength')">Surname must not exceed 32 characters</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Position</mat-label>
          <mat-select [(ngModel)]="employeeToCreate.position" formControlName="positionControl">
            <mat-option>Not selected</mat-option>
            <mat-option *ngFor="let position of positions" [value]="position.title">{{position.title}}</mat-option>
          </mat-select>
          <mat-error *ngIf="employeeForm.controls.positionControl.hasError('required')">Please choose a position</mat-error>
          <mat-hint>{{employeeForm.controls.positionControl.value?.description}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="standard" floatLabel="always">
          <mat-label>Salary</mat-label>
          <input matInput type="number" [(ngModel)]="employeeToCreate.salary" formControlName="salaryControl" placeholder="Salary per month" pattern="\d*">
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="employeeForm.controls.salaryControl.hasError('required')">Please enter a salary</mat-error>
          <mat-error *ngIf="employeeForm.controls.salaryControl.hasError('pattern')">Salary must be a non-negative integer</mat-error>
          <mat-error *ngIf="employeeForm.controls.salaryControl.hasError('max')">Salary must not exceed 32767 dollars</mat-error>
        </mat-form-field>
        <div formGroupName="dateForm">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Work period</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate type="datetime" [(ngModel)]="employeeToCreate.hired" formControlName="startDateControl" placeholder="Hiring date">
              <input matEndDate type="datetime" [(ngModel)]="employeeToCreate.fired" formControlName="endDateControl" placeholder="Dismissal date (optional)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
            <mat-error *ngIf="employeeForm.get('dateForm.startDateControl')!.hasError('required')">Please select hiring date at least</mat-error>
            <mat-error *ngIf="employeeForm.get('dateForm.startDateControl')!.hasError('matStartDateInvalid')">Invalid hiring date</mat-error>
            <mat-error *ngIf="employeeForm.get('dateForm.endDateControl')!.hasError('matEndDateInvalid')">Invalid dismissal date</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="bottomright">
      <button mat-flat-button (click)="toggleEmployment()">Close window</button>
      <button mat-raised-button type="reset" form="eForm">Reset</button>
      <button mat-raised-button type="submit" [disabled]="employeeForm.invalid" (click)="submitEmployee(employeeToCreate)" color="primary">Add</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="position-form" [@openClose]="isPositionFormOpened ? 'open' : 'closed'">
    <mat-card-header>
      <mat-card-title>New position</mat-card-title>
      <mat-card-subtitle>Interface for adding a new position</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="positionForm" id="pForm">
        <mat-form-field hintLabel="E.g., Senior Software Engineer" class="full-width" appearance="standard">
          <mat-label>Add a new position</mat-label>
          <input matInput type="text" [(ngModel)]="positionToCreate.title" formControlName="titleControl">
          <mat-error *ngIf="positionForm.controls.titleControl.hasError('required')">Please enter a position title</mat-error>
          <mat-error *ngIf="positionForm.controls.titleControl.hasError('minlength')">Position title must be at least 4 characters long</mat-error>
          <mat-error *ngIf="positionForm.controls.titleControl.hasError('maxlength')">Position title must not exceed 64 characters</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max. 256 characters" class="full-width" appearance="standard">
          <mat-label>Enter some information about the vacancy</mat-label>
          <textarea matInput #input type="text" [(ngModel)]="positionToCreate.description" formControlName="descriptionControl" style="overflow:visible;resize:none" maxlength="256" placeholder="Job description, responsibilities, requirements, additional information"></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="bottomright">
      <button mat-flat-button (click)="togglePosition()">Close window</button>
      <button mat-raised-button type="reset" form="pForm">Reset</button>
      <button mat-raised-button type="submit" [disabled]="positionForm.invalid" (click)="submitPosition(positionToCreate)" color="primary">Add</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="employment-table">
    <mat-card-header>
      <mat-card-title>Employee table</mat-card-title>
      <mat-card-subtitle>List of all employees who have ever worked</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">  
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>
      
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>
      
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>
      
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef>Salary</th>
          <td mat-cell *matCellDef="let element">{{element.salary + "$"}}</td>
        </ng-container>
      
        <ng-container matColumnDef="hired">
          <th mat-header-cell *matHeaderCellDef>Hired</th>
          <td mat-cell *matCellDef="let element">{{element.hired | date: 'MMMM dd, YYYY' }}</td>
        </ng-container>
      
        <ng-container matColumnDef="fired">
          <th mat-header-cell *matHeaderCellDef>Fired</th>
          <td mat-cell *matCellDef="let element">{{element.fired | date: 'MMMM dd, YYYY' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions class="topright">
      <button mat-button (click)="toggleEmployment()" color="primary">Toggle hiring form</button>
      <button mat-button (click)="togglePosition()" color="primary">Toggle position form</button>
    </mat-card-actions>
  </mat-card>
</div>
